{% extends 'base.html' %} 
{% block content %}
<div class="shoppingCart">
  <h2>カート</h2>

  <div class="heading">
    <div class="p_name"><h4>商品名</h4></div>
    <div class="name"><h4>数量</h4></div>
    <div class="name"><h4>価格</h4></div>
  </div>

  <div class="itemContainer">
    {% if items %}
        {% for item in items %}
        <div class="item" data-id="{{ item.id }}">
            <div class="iteminfo">
                <div class="p_img">
                    <img src="{{item.product.image}}" alt="" />
                </div>
                <p>{{item.product.name}}</p>
            </div>

            <div class="name">
              <button class="btn-quantity" onclick="changeQuantity('{{ item.id }}', -1, {{ item.product.quantity }})">-</button>
              <span id="quantity-{{ item.id }}">{{ item.quantity }}</span>
              <button class="btn-quantity" onclick="changeQuantity('{{ item.id }}', 1, {{ item.product.quantity }})">+</button>
            </div>
            <div class="name"><p>￥{{item.product.price}}</p></div>
        </div>
        {% endfor %}
    {% else %}
        <div class="empty-cart-message">
            <p>カートにアイテムがありません。商品を追加してください。</p>
        </div>
    {% endif %}
  </div>

  <div class="pay-section">
    <h3>合計金額: <span id="total-price">￥{{cart.total_price}}</span></h3>
    <button onclick="makePayment()">支払う</button>
  </div>

</div>
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock content %}
